
.winning-comment{
  background-color: gold;
  margin: 1vmin;
  padding: 2vmin;
  border: 0.5vmin solid #010203;
}

#page-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* background-image: linear-gradient(to bottom, #51297a, #61358e, #7141a2, #814db8, #925acd); */
  background-image: linear-gradient(to bottom, #51297a, #643891, #7848aa, #8c58c3, #a169dc);
  background-position: center;
  background-repeat: no-repeat;
  backgound-size:cover;
  background-attachment: fixed;
}

.caption-photo{
  width:20vw;
  height:20vw;
  object-fit: cover;
}

.photo-card{
  border: 1vmin solid rgb(242,206,123);
  background-color: rgb(255,249,183);
  box-shadow: 5px 5px 5px;
  display:inline-block;
  padding:5vmin;
  margin:1vmin;
  text-align:center;
}

.border-radius{
  border-radius: 25px;
}

img {
  border-radius: 25px;
}

.photo-displayer-innerdiv{
  display: inline-block;
  border: 1vmin solid rgb(242,206,123);
  background-color: rgb(255,249,183);
  box-shadow: 5px 5px 5px;
  padding:5vmin;
  margin:1vmin;
}

.list-item.comment {
  margin: 1vmin;
  padding: 2vmin;
  background-color: #f4f5f5;
  border: 0.5vmin solid #010203;
}

#new-comment-form {
  padding: 4vmin;
}

#comment-body {
  border-radius: 10px;
  height: 15vmin;
  width: 70vmin;
}



#photo-display-img{
  width: 60vw;
  height: 60vw;
  object-fit: cover;

}

#sidebar{
  width: 20%;
  display: inline-block;
  height:100%;
  text-align:center;
  box-sizing:border-box;
  padding-top:20px;
  background-image: linear-gradient(to left, #000003, #0a0b18, #0e1326, #0c1a36, #022146);

}

#container{
  width: 79%;
  display:inline-block;
  vertical-align: top;
  height: 100%;
  overflow:scroll;
  padding-top:20px;
  box-sizing:border-box;
}

#login-status{
  background-color: white;
  transition: background-color .3s ease;
}

.list-item p{
  display:inline-block;
}
.vote{
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  cursor: pointer;
}

.upvote{
  background-image: url("images/up-grey.png");
  background-size: contain;
}
.downvote{
  background-image: url("images/down-grey.png");
  background-size: contain;
}
.upvote[data-toggled="true"]{
  background-image: url("images/up-green.png");
}

.downvote[data-toggled="true"]{
  background-image: url("images/down-red.png");
}

button {
  border: none;
  background-color: white;
  padding:10px;
  margin: 0.5vmin;
  border-radius:10px;
}

button:hover{
  cursor:pointer;
  background-color:black;
  color:white;
}

#sidebar button{
  border: 2px solid white;
}

button:focus{
  outline:0;
}

#photo-display{
  overflow:scroll;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: #00000069;
  display:none;
  height:100%;
}

#sidebar input{
  width:79%;
  border-radius: 5px;
  padding:5px;
  height:20px;
  font-size:1em;
  margin-bottom: 10px;
}

#sidebar button{
  width: 80%;
}

img.hand{
  margin: 0;
  width:3em;
  border-radius:0px;
}
