.caption-photo{
  width:20vw;
  height:20vw;
  object-fit: cover;
}

.photo-card{
  border: 1vmin solid #57606f;
  display:inline-block;
  padding:5vmin;
  margin:1vmin;
}

.border-radius{
  border-radius: 25px;
}

img {
  border-radius: 25px;
}

#photo-display{
  display: inline-block;

}

#photo-display-img{
  width: 60vw;
  height: 60vw;
  object-fit: cover;
  border: 1px solid black;
}

#sidebar{
  width: 20%;
  display: inline-block;
  height:100%;
}

#container{
  width: 79%;
  display:inline-block;
  vertical-align: top;
  height: 100%;
}

#login-status{
  background-color: white;
  transition: background-color .3s ease;
}

.list-item p{
  display:inline-block;
}
.vote{
  height: 3.5vw;
  width: 3.5vw;
  display: inline-block;
  cursor: pointer;
}

.upvote{
  background-image: url("images/up-grey.png");
  background-size: contain;
}
.downvote{
  background-image: url("images/down-grey.png");
  background-size: contain;
}
.upvote[data-toggled="true"]{
  background-image: url("images/up-green.png");
}

.downvote[data-toggled="true"]{
  background-image: url("images/down-red.png");
}
